@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200&display=swap');

.contenedor-error{
    border: 10px solid #6fcaca;
}

.ups, .parrafo{
    font-family: 'Cinzel', serif;
}

.ups{
    font-size: 70px;
}

.parrafo{
    font-size: 40px;
}