<div class="mt-2 mb-5 row justify-content-center align-items-center w-100">

    <div class="col-xl-2 col-lg-12 d-flex justify-content-center align-items-center">
        <img class="dp-logo img-fluid" src="assets/img/logo.png">
    </div>
    
    <nav class="col-xl-8 col-11  navbar navbar-expand-xl navbar-light">
    
        <div class="container-fluid bg-navbar d-flex">
    
            <button class="navbar-toggler my-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav mb-2 mb-lg-0 align-items-center">

                    <li class="nav-item">
                        <a class="nav-link active" routerLink="" #home (click)="cambio('home')">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="potajes" #potajes (click)="cambio('potajes')">Potajes</a>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link" routerLink="acercade" #acercade (click)="cambio('acercade')">Acerca de</a>
                    </li>
    
    
                    <li class="nav-item">
                        <a class="nav-link" routerLink="petstore" #petstore (click)="cambio('petstore')">Pet Store</a>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link text-start" routerLink="contactanos" #contactanos (click)="cambio('contactanos')">Contáctanos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-start d-inline-block d-xl-none" routerLink="login">Mi cuenta</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-start d-inline-block d-xl-none" routerLink="shopping">Carrito</a>
                    </li>
    
                </ul>
    
            </div>
        </div>
    </nav>

    <div class="col-2 d-none d-xl-flex flex-row justify-content-evenly">

        <div>
            <!-- <i class="fas fa-user-check fa-3x img-fluid"></i> -->
            <a routerLink="login" #nologin><i class="fas fa-user-times no-login fa-3x"></i></a>
        </div>

        <div>
            <a routerLink="shopping"><i class="fas fa-shopping-cart cart fa-3x"></i></a>
        </div>

    </div>

    
</div>

<div class="circulo-scroll" #circuloscroll (click)=scrollTop()>
    <img src="assets/img/scrolltop2.png" class="ovni d-block mx-auto">
</div>
