@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&display=swap');

.bg-navbar{
    background-color: #6fcaca;
}

.container-fluid, .container {
    font-family: 'Cinzel', serif;
    font-size: 25px; 
    font-weight: 500;
    color: #000000 !important;
}

.dp-logo{
    width: 300px;
}

.no-login{
    color: #6fcaca;
}

.cart{
    color: #9ecb50;
}

.navbar-nav{
    margin: auto;
}

li {
    font-size: calc(1rem + 1vw);
}

    @media (min-width: 1500px) {
        .title {
        font-size: 4rem;
    }
}

.nav-item{
    background-color: transparent;
    /* border-radius: 20px; */
    transition: background-color 0.5s;
}

.nav-item:hover{
    background-color: #d7efef;
}

.circulo-scroll{
    position: fixed;
    right: 3%;
    bottom: 3%;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    opacity: 0.5;
    background-color: #a9ff13;
}

.circulo-scroll:hover{
    cursor: pointer;
}

.ovni{
    width: 90%;
    height: 90%;
}