<div class="divs-principales">
    <h2 class="titulos ms-4 mb-4">Nino Minino Pet Store</h2>
    <p class="parrafos ms-4 mt-2">
        Nino es un lindo gatito que decidió crear este emprendimiento que nace con el fin de ofrecer 
        opciones ecológicas a uno de los productos más usados por los peluditos de la casa , <span class="fw-bold">las bolsas</span> para recoger nuestros residuos.
    </p>
</div>

<div class="row">
    <div id="carouselExampleDark" class="col-10 mx-auto carousel carousel-dark slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
    
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="assets/img/nino1.png" class="d-block w-50 mx-auto" alt="...">
            </div>
    
            <div class="carousel-item" data-bs-interval="2000">
                <img src="assets/img/nino2.png" class="d-block w-50 mx-auto" alt="...">
            </div>

            <div class="carousel-item" data-bs-interval="2000">
                <img src="assets/img/nino3.png" class="d-block w-50 mx-auto" alt="...">
            </div>

            <div class="carousel-item" data-bs-interval="2000">
                <img src="assets/img/nino4.png" class="d-block w-50 mx-auto" alt="...">
            </div>
    
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>



<div class="divs-principales">
    <h2 class="titulos ms-4 mt-2 mb-4">Productos</h2>
</div>

<div class="divs-principales">
    <h3 class="subtitulos ms-4 mt-2 mb-5">Bolsas</h3>
</div>

<div class="divs-principales row justify-content-center mb-5">
    <div class="card col-xl-3 col-lg-5 col-8 mb-3">

        <img class="card-img-top" alt="Bolsas compostables" #imagenbolsa>
        <div class="card-body">
            <h5 class="card-title fw-bold" #bolsas>Bolsas Compostables</h5>
            <p class="card-text descripciones">Bolsas a base de maíz para mascotas</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item fw-bold"><button type="button" class="btn-presentacion" (click)=presentacionBolsa(1)>Presentación 1</button><span class="fw-normal" #pbolsas1> x30</span></li>
            <li class="list-group-item fw-bold"><button type="button" class="btn-presentacion" (click)=presentacionBolsa(2)>Presentación 2</button><span class="fw-normal" #pbolsas2> x60</span></li>
            <li class="list-group-item fw-bold">Precio: $<span class="fw-normal" #preciobolsas1>5500</span><span class="fw-normal clase-quitar" #preciobolsas2>10000</span></li>
        </ul>

        <div class="d-flex flex-row justify-content-center align-items-center">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item"><i class="fas fa-minus fa-lg" (click)="bolsasStorage(1)"></i></li>
                <li class="list-group-item"><i class="fas fa-plus fa-lg" (click)="bolsasStorage(2)"></i></li>
            </ul>
        </div>
    </div>

</div>

<div class="divs-principales">
    <h3 class="subtitulos ms-4 mt-2 mb-5" #arena>Arena</h3>
</div>

<div class="divs-principales row justify-content-evenly my-5">
    <div class="card col-xl-3 col-lg-5 col-8 mb-3">

        <img src="" class="card-img-top" alt="Arena Sanitaria" #imagenarena>
        <div class="card-body">
            <h5 class="card-title fw-bold" #arena>Arena Sanitaria</h5>
            <p class="card-text descripciones">Arena a base de maíz para gatos</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item fw-bold"><button type="button" class="btn-presentacion" (click)=presentacionArena(1)>Presentación 1</button><span class="fw-normal" #parena1> 2,27kg</span></li>
            <li class="list-group-item fw-bold"><button type="button" class="btn-presentacion" (click)=presentacionArena(2)>Presentación 2</button><span class="fw-normal" #parena2> 4,5kg</span></li>
            <li class="list-group-item fw-bold"><button type="button" class="btn-presentacion" (click)=presentacionArena(3)>Presentación 3</button><span class="fw-normal" #parena3> 7,7kg</span></li>
            <li class="list-group-item fw-bold">Precio: $<span class="fw-normal" #precioarena1>26000</span><span class="fw-normal clase-quitar" #precioarena2>49500</span><span class="fw-normal clase-quitar" #precioarena3>67000</span></li>
        </ul>

        <div class="d-flex flex-row justify-content-center align-items-center">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item" (click)="arenasStorage(1)"><i class="fas fa-minus fa-lg" ></i></li>
                <li class="list-group-item" (click)="arenasStorage(2)"><i class="fas fa-plus fa-lg"></i></li>
            </ul>
        </div>
    </div>
</div>

<img src="assets/img/nino_minino.png" class="d-block mx-auto mb-5 w-25">


