@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200&display=swap');

.titulos, .dulce-span, .subtitulos{
    font-family: 'Cinzel', serif;
}

.titulos{
    font-size: 50px;
    text-decoration: underline #22a4ad 2px;
    text-underline-position: under;
}

.parrafos{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    text-align: justify;
}

.divs-principales{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.subtitulos{
    font-size: 35px;
}

.fa-minus, .fa-plus{
    color: #6fcaca;
}

li, a, h5{
    font-family: 'Montserrat', sans-serif;
}

li{
    text-decoration: transparent 2px;
    transition: all 500ms;
}

li:hover{
    text-decoration: underline 2px #9ecb50;
    cursor: pointer;
}

.descripciones{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: justify;
}
