<div class="d-flex row mb-5 justify-content-center">

    <button class="btn btn-secondary m-2 col-xl-1 col-md-2 col-9 botones-scroll" (click)="scrollToElement(galletas)">GALLETAS</button>

    <button class="btn btn-secondary m-2 col-xl-1 col-md-2 col-9 botones-scroll" (click)="scrollToElement(bocaditos)">BOCADITOS</button>

    <button class="btn btn-secondary m-2 col-xl-1 col-md-2 col-9 botones-scroll" (click)="scrollToElement(granolas)">GRANOLAS</button>

    <button class="btn btn-secondary m-2 col-xl-1 col-md-2 col-9 botones-scroll" (click)="scrollToElement(untables)">UNTABLES</button>

    <button class="btn btn-secondary m-2 col-xl-1 col-md-2 col-9 botones-scroll" (click)="scrollToElement(otros)">OTROS</button>
</div>

<!-- GALLETAS -->
<div class="divs-principales">
    <h2 class="titulos ms-4 mb-4" #galletas>Galletas</h2>
</div>

<div class="divs-principales row justify-content-around mb-5">

    <div class="card col-xl-3 col-lg-5 col-8 mb-3">

        <img src="" class="card-img-top" alt="Avenanas" #imagenavenanas>
        <div class="card-body">
            <h5 class="card-title fw-bold">Avenanas</h5>
            <p class="card-text">Galletas de avena, banano y canela</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item fw-bold" #pavenanas1><button type="button" class="btn-presentacion" (click)="presentacionAvenanas(1)">Presentación 1 </button><span class="fw-normal">Pequeñas x 10</span></li>
            <li class="list-group-item fw-bold" #pavenanas2><button type="button" class="btn-presentacion" (click)="presentacionAvenanas(2)">Presentación 2 </button><span class="fw-normal">Medianas x 8</span></li>
            <li class="list-group-item fw-bold">Precio: <span class="fw-bold">$</span><span class="fw-normal" #precioavenanas1>6500</span><span class="fw-normal clase-quitar" #precioavenanas2>8500</span></li>
        </ul>

        <div class="d-flex flex-row justify-content-center align-items-center">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item"><i class="fas fa-minus fa-lg"></i></li>
                <li class="list-group-item"><i class="fas fa-plus fa-lg"></i></li>
            </ul>
        </div>
    </div>

    <div class="card col-xl-3 col-lg-5 col-8 mb-3">

        <img class="card-img-top" alt="Banani" #imagenbanani>
        <div class="card-body">
            <h5 class="card-title fw-bold">Bananí</h5>
            <p class="card-text">Galletas de avena, banano y mantequilla de maní</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item fw-bold" #pbanani1><button type="button" class="btn-presentacion" (click)="presentacionBanani(1)">Presentación 1 </button><span class="fw-normal">Pequeñas x 10</span></li>
            <li class="list-group-item fw-bold" #pbanani2><button type="button" class="btn-presentacion" (click)="presentacionBanani(2)">Presentación 2 </button><span class="fw-normal">Medianas x 8</span></li>
            <li class="list-group-item fw-bold">Precio: <span class="fw-bold">$</span><span class="fw-normal" #preciobanani1>7500</span><span class="fw-normal clase-quitar" #preciobanani2>10500</span></li>
        </ul>

        <div class="d-flex flex-row justify-content-center align-items-center">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item"><i class="fas fa-minus fa-lg"></i></li>
                <li class="list-group-item"><i class="fas fa-plus fa-lg"></i></li>
            </ul>
        </div>
    </div>

    <div class="card col-xl-3 col-lg-5 col-8 mb-3">

        <img class="card-img-top" alt="Browneta" #imagenbrowneta>
        <div class="card-body">
            <h5 class="card-title fw-bold">Browneta</h5>
            <p class="card-text">Galletas de cacao, harina de avena, huevo de linaza y stevia</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item fw-bold" #pbrowneta1><button type="button" class="btn-presentacion" (click)="presentacionBrowneta(1)">Presentación 1 </button><span class="fw-normal">Pequeñas x 10</span></li>
            <li class="list-group-item fw-bold" #pbrowneta2><button type="button" class="btn-presentacion" (click)="presentacionBrowneta(2)">Presentación 2 </button><span class="fw-normal">Medianas x 8</span></li>
            <li class="list-group-item fw-bold">Precio: <span class="fw-bold">$</span><span class="fw-normal" #preciobrowneta1>8500</span><span class="fw-normal clase-quitar" #preciobrowneta2>12500</span></li>
        </ul>

        <div class="d-flex flex-row justify-content-center align-items-center">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item"><i class="fas fa-minus fa-lg"></i></li>
                <li class="list-group-item"><i class="fas fa-plus fa-lg"></i></li>
            </ul>
        </div>
    </div>

</div>

<div class="divs-principales row justify-content-around mb-5">

    <div class="card col-xl-3 col-lg-5 col-8 mb-3">

        <img class="card-img-top" alt="Cobana" #imagencobana>
        <div class="card-body">
            <h5 class="card-title fw-bold">Cobana</h5>
            <p class="card-text">Galletas de coco y banano</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item fw-bold" #pcobana1><button type="button" class="btn-presentacion" (click)="presentacionCobana(1)">Presentación 1</button><span class="fw-normal">Pequeñas x 10</span></li>
            <li class="list-group-item fw-bold" #pcobana2><button type="button" class="btn-presentacion" (click)="presentacionCobana(2)">Presentación 2</button><span class="fw-normal">Medianas x 8</span></li>
            <li class="list-group-item fw-bold">Precio: <span class="fw-bold">$</span><span class="fw-normal" #preciocobana1>14000</span><span class="fw-normal clase-quitar" #preciocobana2>23500</span></li>
        </ul>

        <div class="d-flex flex-row justify-content-center align-items-center">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item"><i class="fas fa-minus fa-lg"></i></li>
                <li class="list-group-item"><i class="fas fa-plus fa-lg"></i></li>
            </ul>
        </div>
    </div>

    <div class="card col-xl-3 col-lg-5 col-8 mb-3">

        <img class="card-img-top" alt="Miel" #imagenmiel>
        <div class="card-body">
            <h5 class="card-title fw-bold">Miel</h5>
            <p class="card-text">Galletas de avena, banano y miel</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item fw-bold" #pmiel1><button type="button" class="btn-presentacion" (click)="presentacionMiel(1)">Presentación 1 </button><span class="fw-normal">Pequeñas x 10</span></li>
            <li class="list-group-item fw-bold" #pmiel2><button type="button" class="btn-presentacion" (click)="presentacionMiel(2)">Presentación 2 </button><span class="fw-normal">Medianas x 8</span></li>
            <li class="list-group-item fw-bold">Precio: <span class="fw-bold">$</span><span class="fw-normal" #preciomiel1>9000</span><span class="fw-normal clase-quitar" #preciomiel2>14000</span></li>
        </ul>

        <div class="d-flex flex-row justify-content-center align-items-center">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item"><i class="fas fa-minus fa-lg"></i></li>
                <li class="list-group-item"><i class="fas fa-plus fa-lg"></i></li>
            </ul>
        </div>
    </div>

    <div class="card col-xl-3 col-lg-5 col-8 mb-3">

        <img class="card-img-top" alt="Vainilla" #imagenvainilla>
        <div class="card-body">
            <h5 class="card-title fw-bold">Vainilla</h5>
            <p class="card-text">Galletas de vainilla, harina de trigo, huevo de linaza y stevia</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item fw-bold" #pvainilla1><button type="button" class="btn-presentacion" (click)="presentacionVainilla(1)">Presentación 1 </button><span class="fw-normal">Pequeñas x 10</span></li>
            <li class="list-group-item fw-bold" #pvainilla2><button type="button" class="btn-presentacion" (click)="presentacionVainilla(2)">Presentación 2 </button><span class="fw-normal">Medianas x 8</span></li>
            <li class="list-group-item fw-bold">Precio: <span class="fw-bold">$</span><span class="fw-normal" #preciovainilla1>8500</span><span class="fw-normal clase-quitar" #preciovainilla2>12500</span></li>
        </ul>

        <div class="d-flex flex-row justify-content-center align-items-center">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item"><i class="fas fa-minus fa-lg"></i></li>
                <li class="list-group-item"><i class="fas fa-plus fa-lg"></i></li>
            </ul>
        </div>
    </div>

</div>

<!-- BOCADITOS -->
<div class="divs-principales">
    <h2 class="titulos ms-4 mt-2 mb-4" #bocaditos>Bocaditos</h2>
</div>

<div class="divs-principales row justify-content-around mb-5">
    <div class="card col-xl-3 col-lg-5 col-8 mb-3">

        <img src="" class="card-img-top" alt="Avenanos" #imagenavenanos>
        <div class="card-body">
            <h5 class="card-title" #avenanos>Avenanos</h5>
            <p class="card-text">Bocaditos de avena, banano, miel y chía</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item fw-bold"><button type="button" class="btn-presentacion">Presentación </button><span class="fw-normal" #pavenanos> x 10</span></li>
            <li class="list-group-item fw-bold">Precio: $<span class="fw-normal" #precioavenanos>11000</span></li>
        </ul>

        <div class="d-flex flex-row justify-content-center align-items-center">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item" (click)="bocaditosStorage(1)"><i class="fas fa-minus fa-lg"></i></li>
                <li class="list-group-item" (click)="bocaditosStorage(2)"><i class="fas fa-plus fa-lg"></i></li>
            </ul>
        </div>
    </div>

    <div class="card col-xl-3 col-lg-5 col-8 mb-3">

        <img src="" class="card-img-top" alt="Imagen cacao" #imagencacao>
        <div class="card-body">
            <h5 class="card-title" #cacao>Cacao</h5>
            <p class="card-text">Bocaditos de cacao, uvas pasas y maní</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item fw-bold"><button type="button" class="btn-presentacion">Presentación </button><span class="fw-normal" #pcacao> x 10</span></li>
            <li class="list-group-item fw-bold">Precio: $<span class="fw-normal" #preciocacao>10500</span></li>
        </ul>

        <div class="d-flex flex-row justify-content-center align-items-center">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item" (click)="bocaditosStorage(3)"><i class="fas fa-minus fa-lg"></i></li>
                <li class="list-group-item" (click)="bocaditosStorage(4)"><i class="fas fa-plus fa-lg"></i></li>
            </ul>
        </div>
    </div>

    <div class="card col-xl-3 col-lg-5 col-8 mb-3">

        <img src="" class="card-img-top" alt="Imagen maniel" #imagenmaniel>
        <div class="card-body">
            <h5 class="card-title" #maniel>Maniel</h5>
            <p class="card-text">Bocaditos de miel, mantequilla de maní y harina de avena</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item fw-bold"><button type="button" class="btn-presentacion">Presentación </button><span class="fw-normal" #pmaniel> x 10</span></li>
            <li class="list-group-item fw-bold">Precio: $<span class="fw-normal" #preciomaniel>11000</span></li>
        </ul>

        <div class="d-flex flex-row justify-content-center align-items-center">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item" (click)="bocaditosStorage(5)"><i class="fas fa-minus fa-lg"></i></li>
                <li class="list-group-item" (click)="bocaditosStorage(6)"><i class="fas fa-plus fa-lg"></i></li>
            </ul>
        </div>
    </div>

</div>

<!-- GRANOLAS Y BARRAS -->
<div class="divs-principales">
    <h2 class="titulos ms-4 mb-4" #granolas>Granolas y barras</h2>
</div>

<div class="divs-principales row justify-content-around mb-5">
    <div class="card col-xl-3 col-lg-5 col-8 mb-3">

        <img src="" class="card-img-top" alt="Imagen granola" #imagengranola>
        <div class="card-body">
            <h5 class="card-title">Granola</h5>
            <p class="card-text">A base de avena con frutos secos y frutas deshidratadas</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item fw-bold" #pgranola1><button type="button" class="btn-presentacion" (click)="presentacionGranola(1)">Presentación 1</button><span class="fw-normal"> 250gr</span></li>
            <li class="list-group-item fw-bold" #pgranola2><button type="button" class="btn-presentacion" (click)="presentacionGranola(2)">Presentación 2</button><span class="fw-normal"> 500gr</span></li>
            <li class="list-group-item fw-bold">Precio: $<span class="fw-normal" #preciogranola1>12000</span><span class="fw-normal clase-quitar" #preciogranola2>20500</span></li>
        </ul>

        <div class="d-flex flex-row justify-content-center align-items-center">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item"><i class="fas fa-minus fa-lg"></i></li>
                <li class="list-group-item"><i class="fas fa-plus fa-lg"></i></li>
            </ul>
        </div>
    </div>

</div>

<div class="divs-principales row justify-content-evenly mb-5">
    <div class="card col-xl-3 col-lg-5 col-8 mb-3">

        <img src="" class="card-img-top" alt="Imagen chocobarra" #imagenchocobarra>
        <div class="card-body">
            <h5 class="card-title">Chocobarra</h5>
            <p class="card-text">Barra de granola con avena, chocochips veganos y fruta deshidratada</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item fw-bold" #pchocobarra><button type="button" class="btn-presentacion">Presentación</button><span class="fw-normal"> x4</span></li>
            <li class="list-group-item fw-bold">Precio: $<span class="fw-normal" #preciochocobarra>9500</span></li>
        </ul>

        <div class="d-flex flex-row justify-content-center align-items-center">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item"><i class="fas fa-minus fa-lg"></i></li>
                <li class="list-group-item"><i class="fas fa-plus fa-lg"></i></li>
            </ul>
        </div>
    </div>

    <div class="card col-xl-3 col-lg-5 col-8 mb-3">

        <img src="" class="card-img-top" alt="Imagen completa" #imagencompleta>
        <div class="card-body">
            <h5 class="card-title">Completa</h5>
            <p class="card-text">Barra de granola con avena, frutos secos y fruta deshidratada</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item fw-bold" #pcompleta><button type="button" class="btn-presentacion">Presentación</button><span class="fw-normal"> x4</span></li>
            <li class="list-group-item fw-bold">Precio: $<span class="fw-normal" #preciocompleta>9500</span></li>
        </ul>

        <div class="d-flex flex-row justify-content-center align-items-center">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item"><i class="fas fa-minus fa-lg"></i></li>
                <li class="list-group-item"><i class="fas fa-plus fa-lg"></i></li>
            </ul>
        </div>
    </div>

    <div class="card col-xl-3 col-lg-5 col-8 mb-3">

        <img src="" class="card-img-top" alt="Imagen Triple A" #imagentriplea>
        <div class="card-body">
            <h5 class="card-title">Triple A</h5>
            <p class="card-text">Barra de granola con avena, almendras y arándanos</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item fw-bold" #ptriplea><button type="button" class="btn-presentacion">Presentación </button> <span class="fw-normal"> x4</span></li>
            <li class="list-group-item fw-bold" #preciotriplea>Precio: $<span class="fw-normal" #preciotriplea>9500</span></li>
        </ul>

        <div class="d-flex flex-row justify-content-center align-items-center">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item"><i class="fas fa-minus fa-lg"></i></li>
                <li class="list-group-item"><i class="fas fa-plus fa-lg"></i></li>
            </ul>
        </div>
    </div>

</div>

<!-- UNTABLES -->
<div class="divs-principales">
    <h2 class="titulos ms-4 mb-4" #untables>Untables</h2>
</div>

<div class="divs-principales row justify-content-evenly mb-5">
    <div class="card col-xl-3 col-lg-5 col-8 mb-3">

        <img src="" class="card-img-top" alt="Imagen mantequilla de maní" #imagenuntable>
        <div class="card-body">
            <h5 class="card-title">Mantequilla de Maní</h5>
            <p class="card-text">Mantequilla de maní, hecha 100% de maní natural</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item fw-bold" #puntables1><button type="button" class="btn-presentacion" (click)=presentacionMantequilla(1)>Presentación 1</button><span class="fw-normal"> 28gr</span></li>
            <li class="list-group-item fw-bold" #puntables2><button type="button" class="btn-presentacion" (click)=presentacionMantequilla(2)>Presentación 2</button><span class="fw-normal"> 200gr</span></li>
            <li class="list-group-item fw-bold">Precio: $<span class="fw-normal" #preciountables1>4500</span><span class="fw-normal clase-quitar" #preciountables2>10500</span></li>
        </ul>

        <div class="d-flex flex-row justify-content-center align-items-center">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item"><i class="fas fa-minus fa-lg"></i></li>
                <li class="list-group-item"><i class="fas fa-plus fa-lg"></i></li>
            </ul>
        </div>
    </div>

</div>
<!-- OTROS -->
<div class="divs-principales">
    <h2 class="titulos ms-4 mb-4" #otros>Otros</h2>
</div>

<div class="divs-principales row justify-content-evenly mb-5">
    <div class="card col-xl-3 col-lg-5 col-8 mb-3">

        <img src="" class="card-img-top" alt="Imagen Caja Regalo 1" #imagenotros1>
        <div class="card-body">
            <h5 class="card-title">Caja Regalo 1</h5>
            <p class="card-text">Baileys 375ml, galletas vainilla con almendras, bocaditos maniel, chocodiscos x5</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item fw-bold">Precio: $<span class="fw-normal" #preciootros1>65500</span></li>
        </ul>

        <div class="d-flex flex-row justify-content-center align-items-center">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item"><i class="fas fa-minus fa-lg"></i></li>
                <li class="list-group-item"><i class="fas fa-plus fa-lg"></i></li>
            </ul>
        </div>
    </div>

    <div class="card col-xl-3 col-lg-5 col-8 mb-3">

        <img src="" class="card-img-top" alt="Imagen Caja Regalo 2" #imagenotros2>
        <div class="card-body">
            <h5 class="card-title">Caja Regalo 2</h5>
            <p class="card-text">Galletas vainilla con arándanos, bocaditos surtidos cacao/avenanos, chocodiscos x5</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item fw-bold">Precio: $<span class="fw-normal" #preciootros2>55000</span></li>
        </ul>

        <div class="d-flex flex-row justify-content-center align-items-center">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item"><i class="fas fa-minus fa-lg"></i></li>
                <li class="list-group-item"><i class="fas fa-plus fa-lg"></i></li>
            </ul>
        </div>
    </div>

    <div class="card col-xl-3 col-lg-5 col-8 mb-3">

        <img src="" class="card-img-top" alt="Imagen chocodiscos" #imagenchocodiscos>
        <div class="card-body">
            <h5 class="card-title">Chocodiscos</h5>
            <p class="card-text">Chocolate 58% cacao, frutos secos y frutas deshidratadas</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item fw-bold" #pchocodiscos1><button type="button" class="btn-presentacion" (click)="presentacionOtros(1)">Presentación 1</button><span class="fw-normal"> x5</span></li>
            <li class="list-group-item fw-bold" #pchocodiscos2><button type="button" class="btn-presentacion" (click)="presentacionOtros(2)">Presentación 2</button><span class="fw-normal"> x10</span></li>
            <li class="list-group-item fw-bold">Precio: $<span class="fw-normal" #preciochocodiscos1>7500</span><span class="fw-normal clase-quitar" #preciochocodiscos2>12000</span></li>
        </ul>

        <div class="d-flex flex-row justify-content-center align-items-center">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item"><i class="fas fa-minus fa-lg"></i></li>
                <li class="list-group-item"><i class="fas fa-plus fa-lg"></i></li>
            </ul>
        </div>
    </div>

</div>


<!-- <i class="fas fa-plus"></i>
<i class="fas fa-minus"></i> -->
