@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200&display=swap');

.form-create{
    border: 1px solid #b1b1b1;
    padding: 40px;
    border-radius: 10px;
    background-color: #eeeeee;
    font-family: 'Montserrat', sans-serif;
}

.form-label, .create-btn{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.span-font{
    position: absolute;
}

button a {
    text-decoration: none;
    color: #ffffff;
}